body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url('https://media.istockphoto.com/photos/baseball-on-field-picture-id147703751?k=20&m=147703751&s=612x612&w=0&h=--TOeEQJYiuplfZynz2yyHECVJAb62x5k1PCP85UcCs=');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0.5rem 0;
  text-shadow: 3.5px 3.5px black;
  background-color: #36648B;
  font-size: 50px;
  color: white;
}

.card {
  margin: 2rem 2.3rem;
  margin-bottom: 1.5625rem;
  justify-content: center;
  text-align: center;
  border: grey solid 1px;
  background-color: #36648B;
  display: inline-grid;
  width: 20rem;
  height: 30rem;
  box-shadow: 3px 4px #504b55;
}

.card img {
  width: 15rem;
  height: 22.21rem;
  margin: auto;
  display: block;
  border: 2px solid black;
}

.card button {
  margin-top: auto;
  position: center;
  background-color: dodgerblue;
  color: white;
  border: none;
  width: 20rem;
}

.card h3 {
  margin-top: 1rem;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card h4 {
  color: white
}

.card p {
  color: white
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.1rem;
  width: 18.75rem;
  font-size: 1rem;
  padding: 0.5rem;
  font-family: inherit;
  border: none;
  border-bottom: 2px solid gray;
}

label {
  margin-top: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.625rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}